################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WorldCupApplication/bin
/WorldCupApplication/obj/Debug
